.sched-entry div {
	color: #222;
	border-width: 1px;
	border-style: solid;
	margin: auto;
	width: 100%;
	height: 100%;
	vertical-align: middle;

}

* {
	box-sizing: border-box;
}

body {
  font-family: "CMU Serif", Palatino, serif;
  background: #fdfdfd;
 }

table {
 border-spacing: 2px;
 border-collapse: collapse;
 width: 75%;
 margin: auto;
 border: 1.5px solid #ccc;
}

thead th
{
 padding: 1px;
 font-weight: normal;
}

th
{
background: #fafafa;
border-right: 1px solid #ccc;
}

tr
{
border: 1px solid #ccc;
}

tr:nth-child(2n) th
{
text-indent: -99999px;
}


td,th
{
height: 2vw;
}

th
{
width: 1vw;
}

td
{
width: 100vw;
}


.sched-blank {
 border-left: 1px solid #ddd;
 border-right: 1px solid #ddd;
}


.sched-timeslot:after {
content: "h";
font-weight: normal;
}

.sched-entry p
{
margin: 0;
}

.waiting {
background: linear-gradient(rgba(174,175,175,1),rgba(200,200,200,0.1));
font-style: italic;
}
.sched-entry-1 div {
 	border-color: #8CA0D4;
	background-color:#CBD4EB;
}

.sched-entry-2 div {
	   border-color: #EC926E;
	       background-color:#F6C8B6;
}

.sched-entry-3 div {
	    border-color: #8FC77B;
	        background-color:#C0F4AE;
}

.sched-entry-4 div {
	    border-color: #CCCF79;
	        background-color:#FAFE92;
}

.sched-entry-5 div{
	    border-color: #C785BD;
	        background-color:#E8CAE3;
}

.sched-entry-6 div {
		  border-color: #7FD1B1;
		      background-color:#A6FCDD;
}
